@import url(https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Livvic', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .site-container {
    @apply max-w-7xl mx-auto w-full;
  }
}

li {
  list-style: none;
}